{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/stylesheets/auth.css"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="column is-6-desktop is-offset-3-desktop is-paddingless">
            <section class="hero is-fullheight-with-navbar">
                <div class="hero-body">
                    <div class="container">
                        <form class="box" method="post" action="/signin">
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="email" placeholder="Email" name="email">
                                    <span class="icon is-small is-left">
                                      <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="password" placeholder="Password" name="password">
                                    <span class="icon is-small is-left">
                                      <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="has-text-right-desktop has-text-centered">
                                <button class="button is-primary">Se connecter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </div>
{% endblock %}