{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/stylesheets/admin/global.css"/>
{% endblock %}

{% block content %}
    <div class="columns">
    {% include 'admin/partial/sidePanel.html.twig' %}

        <div class="column is-10 p-5">
            {% block adminContent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block adminScript %}
{% endblock %}
