{% extends "admin/base.html.twig" %}

{% block title %}Utilisateurs - Admin{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bulma.min.css">

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bulma.min.js"></script>
{% endblock %}

{% block adminContent %}
    <nav class="breadcrumb is-right" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/admin">
                    <span class="icon is-small">
                      <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                    <span>Administration</span>
                </a>
            </li>
            <li>
                <a href="/admin/users/validation">
                    <span class="icon is-small">
                      <i class="fas fa-list" aria-hidden="true"></i>
                    </span>
                    <span>Liste des utilisateurs en attente de validation</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="tile">
        <article class="tile is-child box">
            <p class="title">Tous les utilisateurs en attente de validation</p>
            <div class="content">
                <table class="table" id="usersTable" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </article>
    </div>

    <script>
        $(document).ready(function() {
            const table = $('#usersTable').DataTable( {
                processing: true,
                serverSide: true,
                ordering: false,
                lengthChange: false,
                ajax: '/admin/users/validation/ajax',
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                columns: [
                    { data: "username" },
                    { data: "email" },
                    { data: "actions" }
                ]
            } );

            $(document).on('click','.valid-user',e => {
                $.post( "/auth/user/validation", { id: $(e.currentTarget).data('user-id')} ).done(data => {
                    if(!data.error){
                        notify('success', 'Compte validé avec succès !');

                        table.row($(this).parents('tr')).remove().draw();
                    } else {
                        notify('danger', 'Erreur lors de la validation');
                    }
                });
            });
        } );
    </script>
{% endblock %}