<!doctype html>
<html>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center" style="text-align: center;">
            <a href="https://blog.jdevuono.com">
                <img src="http://jdevuono.com/images/logo.webp" alt="Logo" style="max-width: 50%;">
            </a>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>