{% extends "/email/baseEmail.html.twig" %}

{% block content %}
    <h1 class="text-center">Bienvenue {{ username }} !</h1>
    <p class="block">
        Merci d'avoir créer un compte sur mon blog, vous pourrez maintenant échanger dans les commentaire, et pourquoi pas poster des articles !
    </p>
    <p class="block">
        <div>Cordialement,</div>
        <div>Jdevuono</div>
    </p>
{% endblock %}