<div class="timeline is-centered">
    <header class="timeline-header">
        <span class="tag is-medium is-primary">2016</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker is-icon is-primary">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">Juillet 2016</p>
            <p>Obtention du baccalauréat pro SN</p>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-primary">2017</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Septembre 2017</p>
            <p>Inscription en BTS SIO</p>
            <small>Lycée Raymond-Poincaré à Bar-Le-Duc</small>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-primary">2018</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker is-icon is-primary">
            <i class="fas fa-briefcase"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">Mai - Juin 2018</p>
            <p>Stage de développeur web</p>
            <small>CHRU de Tours</small>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-primary">2019</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker is-icon is-primary">
            <i class="fas fa-briefcase"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">Janvier - Mars 2019</p>
            <p>Stage de développeur web</p>
            <small>Cirkwi à Nancy</small>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker is-icon is-primary">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">Juillet 2019</p>
            <p>Obtention du BTS SIO</p>
            <small>Moyenne : 14.76</small>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Septembre 2019</p>
            <p>Inscription en licence pro CIASIE</p>
            <small>IUT Charlemagne à Nancy</small>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-primary">2020</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker is-icon is-primary">
            <i class="fas fa-briefcase"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">Avril - Août 2020</p>
            <p>Stage de développeur web</p>
            <small>Cirkwi à Nancy</small>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker is-icon is-primary">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">Août 2020</p>
            <p>Obtention de la licence</p>
            <small>Moyenne : 14.77</small>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-primary">2021</span>
    </header>
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <p class="heading">Février 2021</p>
            <p>Début d'une formation OCR en alternance</p>
            <small>Alternance avec l'entreprise CIRKWI à Nancy</small>
        </div>
    </div>
    <div class="timeline-header">
        <span class="tag is-medium is-primary">Aujourd'hui</span>
    </div>
</div>
